<h1> Welcome to the Homepage! Please feel free to:</h1>

<h2> Sign Up </h2>
<%= link_to "Sign up", new_client_path %>

<h2> Or Sign In </h2>
<%= link_to "Log In", login_path %><br>
<%= link_to('Log in with Github!', '/auth/github', method: :post) %>