<% if params[:event_id] %>
    <h1><%= @event.title %></h1>
    <% else %>
<h1> All the Vendors Booked for the Huge House </h1>
<% end %>

<h4> Vendor Name - Event Title </h4>
<% @vendors.each do |vendor| %>
    <ul>
    <li><%= link_to vendor.name, vendor_path(vendor) %> - <%= vendor.event.title %> </li>
    </ul>
<% end %>
